version: "3.8"

services:
  ollama:
    build:
      context: .
      dockerfile: ollama-custom.Dockerfile
    container_name: ollama
    volumes:
      - ollama_data:/root/.ollama
    ports:
      - "11434:11434"

  chatpdf:
    build: .
    container_name: chatpdf
    environment:
      - OLLAMA_HOST=http://ollama:11434
    ports:
      - "8501:8501"
    depends_on:
      - ollama
    volumes:
      - ./chroma_db:/app/chroma_db

volumes:
  ollama_data:
