streamlit
langchain
langchain_ollama
langchain_openai
langchain_community
streamlit-chat
pypdf
chromadb
cryptography
# GPU Support
intel-extension-for-pytorch
neural-compressor
openvino
torch
cuda-python
torch-rocm
rocm-smi